* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 99;
}
.notes-sidebar {
  width: 400px;
  height: 140vh;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.863);
}

.notes-sidebar h1 {
  font-size: 20px;
  color: aliceblue;
  text-align: center;
  padding-bottom: 30px;
}
.notes-sidebar input {
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.notes-sidebar textarea {
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
  padding: 10px;
  max-width: 100%;
  height: 40vh;
  border-radius: 20px;
}
.notes-sidebar button {
  margin-bottom: 15px;
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #030303;
  border-radius: 5px;
  cursor: pointer;
}
.notes-container {
  width: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.note {
  background-color: rgba(161, 153, 153, 0.5);
  padding: 25px;
  width: 28%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.note h3 {
  margin-bottom: 10px;
  text-align: center;
}

.note p {
  max-height: 200px;
  margin-bottom: 10px;
  overflow-y: scroll;
  cursor: pointer;
  font-size: 13px;
}
.btn-delete {
  background-color: red !important;
}
.hidden {
  display: none;
}
.footer-animation1 {
  width: 40%;
  height: 140vh;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: rgb(243, 7, 7);
  filter: blur(20px);
  position: absolute;
  right: 0%;
  filter: blur(0px);
  animation-name: move3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  z-index: -9;
}
@keyframes move3 {
  from {
    filter: blur(20px);
    transform: translate(30%, 0%) skew(9deg);
  }
  to {
    filter: blur(30px);
    transform: translate(0%, 0%) skew(0deg);
  }
}
